  <%# Is there a better way to do this? %>
<% if comment.commenter && comment.body %>
  <div class="comment">
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  </div>
<% end %>
