<div class="add_article">
  <turbo-frame id="article_<%=@article.id%>">
    <h1>Edit Article</h1>
    <%= render "form", article: @article %>

  </turbo-frame>

  <turbo-frame id="tags-container" class="article_tags">
    <h3>Tags:</h3>
    <%= render 'tags/form' %>

    <div class="article_tag_group">
      <%= render @article.tags.select(&:persisted?) %>
    </div>
  </turbo-frame>
</div>
