<div class="add_article">
  <h1>Edit Article</h1>
  <%= render "form", article: @article %>

  <section class="article_tags">
    <h3>Tags:</h3>
    <%= render 'tags/form' %>

    <div class="article_tag_group">
      <%= render @article.tags.select(&:persisted?) %>
    </div>
  </section>
</div>
