<div class="articles">
  <h2 class="articles_title">Articles</h2>

  <ul class="articles_list">
    <% @articles.each do |article| %>
    <li class="articles_list--item">
      <%= link_to article.title, article %>
    </li>
    <% end %>
  </ul>

  <%= link_to "New Article", new_article_path, :class => "btn", :role => "button"%>
</div>
